:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
body{
    font-family: "Inter", sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 40px;
    height: auto;
}
.logo h3{
    font-size: 18px;
    font-weight: 700;
}
.nav-links li{
    list-style: none;
    display: flex;
    gap: 30px;}

.nav-links a{
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a :hover{
color: #2563eb ;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    padding: 14px 24px;
    background:#2563eb ;
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
/* hero */
.hero{
    position: relative;
    height: 786px;
    /* width: 100%; */
    
}
.hero-image{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 136px;
    left: 340px;
    color: white;
    bottom: 79px;
    max-width: 520px;
    text-align: center;
}
.hero p{
   margin-bottom: 278px;
   line-height: 1.6;

}
.hero-btn{
    display: inline-block;
    padding: 14px 28px;
    background: #2563eb;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}
.nav-links a 
.btn 
.hero-btn:hover{color: beige;
    cursor:pointer;
}
/* speakers */
.speakers{
    padding: 80px;
    text-align: center;
}
.speakers h2{
    margin-bottom: 40px;
    font-size: 36px;
}
.speaker-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.speaker-card{
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    text-align: left;
}
.speaker-card img{
    height: 300px;
    object-fit: cover;
}
.speaker-card span{
    display: inline-block;
    margin: 15px;
    padding: 5px 12px;
    background: #eef2ff;
    color: #2563eb;
    border-radius: 20px;
    font-size: 14px;
}
.speaker-card h3{
    margin: 0 15px 10px;
}
.speaker-card p{
    margin: 0 15px 10px;
}
/* PRICING */
body{
    background: #f5f7fb;
    color: #111827;
}
.pricing{
    width: 100%;
    padding: 80px 8%;
}
.section-title{
    text-align: center;
    margin-bottom: 60px;
}
.section-title h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}
.section-title p{
    color: #6b7280;
    font-size: 20px;
}
.pricing-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;;
}
.pricing-card{
    width: 370.66px;
     height: 442px;
    background: #ffffff;
    border-radius: 20px;
    padding:32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,.08);
    transition: .3s;
    display: flex;
    flex-direction: column;
}
.featured{
    border: 2px solid #2563eb;
    background: #111827;
}

.pricing-card h3{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #6b7280;;
    margin-bottom: 5px;
}
.featured h3{
    color: #2563eb;
}

.pricing-card h2{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 5px;
}
.price-text{
    color: #6b7280;
    margin-bottom: 5px;}
    .pricing-card hr{
        list-style: none;
    }
    .featured h2,.featured p,.featured h3{
        color: #fff;
    }
    

    .pricing-card ul li{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #374151;
        font-size: 15px;
    }
    .pricing-card ul li i{
     color: #2563eb;
     font-size: 5px;
     margin-right: 15px;
    }
    .featured ul li{
        color: #fff;
    }
    .featured ul li i{
        color: #fff;
    }
    
    .outline-btn,.primary-btn{
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding: 16px;
        border-radius: 10px;
        font-weight: 600;
        margin-top: auto;
        transition: .3s;
    }
    .outline-btn{
        border: 2px solid #2563eb;
        color: #2563eb;
        background: #fff;
    }
    .outline-btn:hover{
        background:rgb(233, 232, 232);
    }
    .primary-btn{
        background: #2563eb;
        color: #fff;
        border: 2px solid #2563eb;
    }
    .primary-btn:hover{
        background: #1d4ed8;
    }
    .outline-btn:active,
    .primary-btn:active{
        transform: scale(.98);
    }
    .pricing-card,.outline-btn,.primary-btn{
        transition: all .3s ease;
    }
    @media(max-width:1100px){
        .pricing-container{
            gap: 25px;
        }
        .pricing-card{
            width: 320px;
        }
        .featured{
            transform: none;
        }
        .featured:hover{
            transform:translateY(-5px);
        }
    }
@media(max-width:768px){
    .pricing{
        padding: 60px 20px;
    }
    .section-title h1{
        font-size: 36px;
    }
    .section-title p{
        font-size: 16px;
    }
    .pricing-container{
        flex-direction: column;
        align-items: center;
    }
    .pricing-card{
        width: 100%;
        max-width: 420px;
    }
    .pricing-card h2{
        font-size: 42px;
    }
} 
@media(max-width:480px){
      .section-title h1{
        font-size: 30px;
      }  
      .pricing-card{
        padding: 30px 25px;
      }
      .pricing-card h2{
        font-size: 36px;
      }
      .pricing-card ul li{
        font-size: 15px;
      }
      .outline-btn,.primary-btn{
        padding: 14px;
        font-size: 15px;
      }
    }
    .hackathon{
    padding: 80px;
    text-align: center;
}

.hackathon h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.hackathon p{
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
}

.hackathon-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.hack-card{
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 12px;
}
